body {
    margin: 0;
    padding: 0;
}

#top-bar {
    padding: 8px;
    background: #eee;
    display: flex;
    gap: 10px;
}

#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }

.tool-btn {
    background: white;
    border: 1px solid #aaa;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }

.tool-btn.active {
    border-color: #007bff;
    color: #007bff;
  }

#map {
    width: 100vw;
    height: calc(100vh - 50px);
}
